<%- if StimulusReflex::Installer.bundler.importmap? -%>
import consumer from "channels/consumer"
<%- else -%>
import consumer from "../channels/consumer"
<%- end -%>
import CableReady from "cable_ready"

CableReady.initialize({ consumer })
