<%- if bundler.importmap? -%>
import { application } from "controllers/application"
import controller from "controllers/application_controller"
<%- else -%>
import { application } from "../controllers/application"
import controller from "../controllers/application_controller"
<%- end -%>
import StimulusReflex from "stimulus_reflex"

StimulusReflex.initialize(application, { controller, isolate: true })
