name: Run Prettier Lints

on:
  - push
  - pull_request

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup Node
      uses: actions/setup-node@master
      with:
        version: '12.x'
    - run: yarn
      working-directory: javascript/
    - run: yarn run prettier-check
      working-directory: javascript/
