name: StandardRB

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

jobs:
  standard:
    name: StandardRB Check Action
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Set up Ruby 3.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1
        bundler-cache: true

    - name: Run StandardRB
      run: bundle exec standardrb --format progress
